validate_interface_status:
- command: show interfaces descriptions
{% for interface_node in test_interface_nodes | default(['physical-interface', 'logical-interface'])  %}
- iterate:
    id: name
    xpath: interface_node
    tests:
    - is-equal: admin-status, {{ test_expected_admin_status | default('up') }}
      err: 'The admin status of {{ interface_node }} {% raw %} {{ id_0 }} has changed: PRE: {{ pre["admin-status"] }} / POST: {{ post["admin-status"] }}' {% endraw %}
      info: 'Admin status have not changed for {{ interface_node }} {% raw %} {{ pre["admin-status"] }}.' {% endraw %}
    - is-equal: oper-status, {{ test_expected_oper_status | default('up') }}
      err: 'The oper status of {{ interface_node }} {% raw %} {{ id_0 }} has changed: PRE: {{ pre["oper-status"] }} / POST: {{ post["oper-status"] }}' {% endraw %}
      info: 'Oper status have not changed for  {{ interface_node }} {% endraw %} {{ pre["name"] }}.' {% endraw %}
{% endfor %}
