validate_interface_status:
- command: show interfaces descriptions
{% for interface_node in test_interface_nodes | default(['physical-interface'])  %}
{% raw %}
- iterate:
    id: name
    xpath: interface_node
    tests:
    - is-equal: admin-status, {% endraw %} {{ test_expected_admin_status | default('up') }} {% raw %}
      err: 'The admin status of {% endraw %} {{ interface_node }} {% raw %} {{ id_0 }} is not up'
      info: 'Admin status for {% endraw %} {{ interface_node }} {% raw %} is not up.'
    - is-equal: oper-status, {% endraw %} {{ test_expected_oper_status | default('up') }} {% raw %}
      err: 'The oper status of {% endraw %} {{ interface_node }} {% raw %} {{ id_0 }} is not up'
      info: 'Oper status for  {% endraw %} {{ interface_node }} {% raw %} is not up' {% endraw %}
{% endfor %}
